body {
    background: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #007acc;
    font-size: 48px;
}

p {
    color: #333;
    font-size: 20px;
}


